# -------------------
# Общие настройки приложения
# -------------------
APP_TITLE=Сервис чатов
DESCRIPTION=API для управления чатами
DEBUG=True
# -------------------
# База данных
# -------------------
DB_USER=fastapi_user
DB_PASSWORD=supersecretpassword
DB_NAME=fastapi_db
DB_HOST=db
DB_PORT=5432
DB_ENGINE=postgres
DATABASE_URI=postgresql+asyncpg://fastapi_user:supersecretpassword@db:5432/fastapi_db

# -------------------
# Настройки повторных попыток БД
# -------------------
DB_RETRY_MAX_ATTEMPTS=3
DB_RETRY_DELAY_SECONDS=0.1
# -------------------
# Логирование
# -------------------
LOG_FILE=app.log
MAX_BYTES=5242880
BACKUP_COUNT=3